@import "inter-ui/Inter (web)/inter.css";
$govuk-font-family: "Inter";
@import "govuk-frontend/govuk/all";
html {
  font-family: "Inter", "system-ui";
}

body {
  margin: 0;
}

#__next.admin {
  height: 100vh;
}